body {
  font-family: "Merriweather", sans-serif;
}
/* hover animations with scaling and guessing hex colors
there will be a github link with the pages to download
1 page of handwritten notes*/

#cat-section {
  background-color: rgb(51, 114, 122);
  color: rgb(35, 51, 56);
  overflow: scroll;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

#cat-section figure {
  display: inline-block;
  background-color: rgb(137, 192, 205);
  border-radius: 10px;
}

#cat-section figure:hover {
  transform: scale(1.3);
  transition: all 0.33s;
}

#cat-section figcaption {
  padding: 10px;
}

#cat-section img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}

.catphoto{
  height: 300px;
  width: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.catphoto:hover{
  box-shadow: 10px 10px 5px lightblue;
}

#cat1{
  background-image: url("./img/cat1.jpg");
}

#cat2{
  background-image: url("./img/cat2.jpg");
}

#cat3{
  background-image: url("./img/cat3.jpg");
}