#theList {
    margin-left: 150px;
    padding-bottom: 30px;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(44 28 58);
    border-style: solid;

    background-color: rgb(165 133 195);
}


a {
    text-decoration: none;
    background-color: red;
}
a:visited  {
    background-color: green;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}